<div class="container">
  <div class="row">
    <div class="col text-center">
      <!-- untuk masukkan path asset serperti gambar kita bisa langsung menuju dari root ke img dan tidak perlu menyertakan ke folder public terlebih dahulu. -->
      <img
        src="./img/koin.jpg"
        alt="gambar"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Muqniansyah</h1>
      <p class="lead">Web Developer | Software Engineer</p>
    </div>
  </div>
</div>
